<div class="order-vergleich">
  <div class="ribbon-bar">
    <div class="ribbon-tabs">
      <div class="ribbon-tab green">
        <i class="fa fa-check"></i>
        <span class="tab-title">Bestätigen</span>
      </div>
      <div class="ribbon-tab red">
        <i class="fa fa-times"></i>
        <span class="tab-title">Ablehnen</span>
      </div>
      <div class="ribbon-tab blue" (click)="toggleMessageDialog()">
        <i class="fa fa-envelope"></i>
        <span class="tab-title">Nachricht an Lieferanten</span>
      </div>
      <div class="ribbon-tab teal" (click)="toggleView()">
        <i class="fa fa-eye"></i>
        <span class="tab-title">Dokumentenansicht</span>
      </div>
      <div class="ribbon-tab gray">
        <i class="fa fa-history"></i>
        <span class="tab-title">Verlauf</span>
      </div>
      <div class="ribbon-tab" (click)="toggleShowDifferences()">
        <i class="fa fa-filter"></i>
        <span class="tab-title">{{ showOnlyDifferences ? 'Alles anzeigen' : 'Nur Abweichungen anzeigen' }}</span>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="main-content" [class.full-width]="!showDocumentView">
      <div class="vergleich-container">
        <div *ngIf="hatUnterschiedeDetails()" class="warning-message">
          <i class="fa fa-exclamation-triangle" style="color: red; margin-right: 10px;"></i> Es wurden {{countDifferences()}} Abweichungen gefunden!
        </div>
        <table class="vergleich-tabelle">
          <thead>
            <tr>
              <th>Details</th>
              <th>Bestellung</th>
              <th>Auftragsbestätigung</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="!showOnlyDifferences || bestellung.id !== bestaetigung.id" [class.unterschied]="bestellung.id !== bestaetigung.id">
              <td>Bestellnummer</td>
              <td><i *ngIf="bestellung.id !== bestaetigung.id" class="fa fa-exclamation-circle" style="color: red;"></i> {{bestellung.id}}</td>
              <td><i *ngIf="bestellung.id !== bestaetigung.id" class="fa fa-exclamation-circle" style="color: red;"></i> {{bestaetigung.id}}</td>
            </tr>
            <tr *ngIf="!showOnlyDifferences || bestellung.datum !== bestaetigung.datum" [class.unterschied]="bestellung.datum !== bestaetigung.datum">
              <td>Datum</td>
              <td><i *ngIf="bestellung.datum !== bestaetigung.datum" class="fa fa-exclamation-circle" style="color: red;"></i> {{bestellung.datum}}</td>
              <td><i *ngIf="bestellung.datum !== bestaetigung.datum" class="fa fa-exclamation-circle" style="color: red;"></i> {{bestaetigung.datum}}</td>
            </tr>
            <tr *ngIf="!showOnlyDifferences || bestellung.kundenName !== bestaetigung.kundenName" [class.unterschied]="bestellung.kundenName !== bestaetigung.kundenName">
              <td>Kunde</td>
              <td><i *ngIf="bestellung.kundenName !== bestaetigung.kundenName" class="fa fa-exclamation-circle" style="color: red;"></i> {{bestellung.kundenName}}</td>
              <td><i *ngIf="bestellung.kundenName !== bestaetigung.kundenName" class="fa fa-exclamation-circle" style="color: red;"></i> {{bestaetigung.kundenName}}</td>
            </tr>
            <tr *ngIf="!showOnlyDifferences || bestellung.kundenNummer !== bestaetigung.kundenNummer" [class.unterschied]="bestellung.kundenNummer !== bestaetigung.kundenNummer">
              <td>Kundennummer</td>
              <td><i *ngIf="bestellung.kundenNummer !== bestaetigung.kundenNummer" class="fa fa-exclamation-circle" style="color: red;"></i> {{bestellung.kundenNummer}}</td>
              <td><i *ngIf="bestellung.kundenNummer !== bestaetigung.kundenNummer" class="fa fa-exclamation-circle" style="color: red;"></i> {{bestaetigung.kundenNummer}}</td>
            </tr>
            <tr *ngIf="!showOnlyDifferences || bestellung.lieferadresse !== bestaetigung.lieferadresse" [class.unterschied]="bestellung.lieferadresse !== bestaetigung.lieferadresse">
              <td>Lieferadresse</td>
              <td><i *ngIf="bestellung.lieferadresse !== bestaetigung.lieferadresse" class="fa fa-exclamation-circle" style="color: red;"></i> {{bestellung.lieferadresse}}</td>
              <td><i *ngIf="bestellung.lieferadresse !== bestaetigung.lieferadresse" class="fa fa-exclamation-circle" style="color: red;"></i> {{bestaetigung.lieferadresse}}</td>
            </tr>
            <tr *ngIf="!showOnlyDifferences || bestellung.zahlungsmethode !== bestaetigung.zahlungsmethode" [class.unterschied]="bestellung.zahlungsmethode !== bestaetigung.zahlungsmethode">
              <td>Zahlungsmethode</td>
              <td><i *ngIf="bestellung.zahlungsmethode !== bestaetigung.zahlungsmethode" class="fa fa-exclamation-circle" style="color: red;"></i> {{bestellung.zahlungsmethode}}</td>
              <td><i *ngIf="bestellung.zahlungsmethode !== bestaetigung.zahlungsmethode" class="fa fa-exclamation-circle" style="color: red;"></i> {{bestaetigung.zahlungsmethode}}</td>
            </tr>
            <tr *ngIf="!showOnlyDifferences || bestellung.gesamtbetrag !== bestaetigung.gesamtbetrag" [class.unterschied]="bestellung.gesamtbetrag !== bestaetigung.gesamtbetrag">
              <td>Gesamtbetrag</td>
              <td><i *ngIf="bestellung.gesamtbetrag !== bestaetigung.gesamtbetrag" class="fa fa-exclamation-circle" style="color: red;"></i> {{bestellung.gesamtbetrag | currency:'EUR'}}</td>
              <td><i *ngIf="bestellung.gesamtbetrag !== bestaetigung.gesamtbetrag" class="fa fa-exclamation-circle" style="color: red;"></i> {{bestaetigung.gesamtbetrag | currency:'EUR'}}</td>
            </tr>
            <tr *ngIf="!showOnlyDifferences || bestellung.mwst !== bestaetigung.mwst" [class.unterschied]="bestellung.mwst !== bestaetigung.mwst">
              <td>MwSt.</td>
              <td><i *ngIf="bestellung.mwst !== bestaetigung.mwst" class="fa fa-exclamation-circle" style="color: red;"></i> {{bestellung.mwst | currency:'EUR'}}</td>
              <td><i *ngIf="bestellung.mwst !== bestaetigung.mwst" class="fa fa-exclamation-circle" style="color: red;"></i> {{bestaetigung.mwst | currency:'EUR'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="artikel-vergleich">
        <h3>Positionsdaten</h3>
        <ng-container *ngFor="let item of bestellung.artikel; let i = index">
          <div *ngIf="!showOnlyDifferences || hatUnterschiede(i)"
               class="artikel-item"
               [class.unterschied]="hatUnterschiede(i)"
               [class.marked]="!expandedItems[i] && hatUnterschiede(i)">
            <div class="artikel-header" (click)="toggleDetails(i)">
              <i class="fa" [class.fa-chevron-right]="!expandedItems[i]" [class.fa-chevron-down]="expandedItems[i]"></i>
              <i *ngIf="!expandedItems[i] && hatUnterschiede(i)" class="fa fa-exclamation-circle" style="color: red; margin-right: 5px;"></i>
              <span>{{item.name}}</span>
              <span *ngIf="!expandedItems[i] && hatUnterschiede(i)" class="warning-message-inline">
                Abweichungen gefunden!
              </span>
            </div>
            <div *ngIf="expandedItems[i]" class="artikel-details">
              <table class="artikel-tabelle">
                <thead>
                  <tr>
                    <th></th>
                    <th>Details</th>
                    <th>Bestellung</th>
                    <th>Auftragsbestätigung</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="!showOnlyDifferences || item.menge !== bestaetigung.artikel[i].menge" [class.unterschied]="item.menge !== bestaetigung.artikel[i].menge">
                    <td><i class="fa fa-cube"></i></td>
                    <td>Menge</td>
                    <td><i *ngIf="item.menge !== bestaetigung.artikel[i].menge" class="fa fa-exclamation-circle" style="color: red;"></i> {{item.menge}}</td>
                    <td>{{bestaetigung.artikel[i].menge}}</td>
                  </tr>
                  <tr *ngIf="!showOnlyDifferences || item.preis !== bestaetigung.artikel[i].preis" [class.unterschied]="item.preis !== bestaetigung.artikel[i].preis">
                    <td><i class="fa fa-money"></i></td>
                    <td>Preis</td>
                    <td><i *ngIf="item.preis !== bestaetigung.artikel[i].preis" class="fa fa-exclamation-circle" style="color: red;"></i> {{item.preis | currency:'EUR'}}</td>
                    <td>{{bestaetigung.artikel[i].preis | currency:'EUR'}}</td>
                  </tr>
                  <tr *ngIf="!showOnlyDifferences || item.lieferzeit !== bestaetigung.artikel[i].lieferzeit" [class.unterschied]="item.lieferzeit !== bestaetigung.artikel[i].lieferzeit">
                    <td><i class="fa fa-clock-o"></i></td>
                    <td>Lieferzeit</td>
                    <td><i *ngIf="item.lieferzeit !== bestaetigung.artikel[i].lieferzeit" class="fa fa-exclamation-circle" style="color: red;"></i> {{item.lieferzeit}}</td>
                    <td>{{bestaetigung.artikel[i].lieferzeit}}</td>
                  </tr>
                  <tr *ngIf="!showOnlyDifferences || item.rabatt !== bestaetigung.artikel[i].rabatt" [class.unterschied]="item.rabatt !== bestaetigung.artikel[i].rabatt">
                    <td><i class="fa fa-percent"></i></td>
                    <td>Rabatt</td>
                    <td><i *ngIf="item.rabatt !== bestaetigung.artikel[i].rabatt" class="fa fa-exclamation-circle" style="color: red;"></i> {{item.rabatt}}%</td>
                    <td>{{bestaetigung.artikel[i].rabatt}}%</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <div *ngIf="showDocumentView" class="side-content">
      <div class="document-view">
        <h3>Dokumentansicht</h3>
        <p>Hier wird das Dokument angezeigt.</p>
      </div>
    </div>
  </div>
  <div *ngIf="showMessageDialog" class="overlay">
    <div class="message-dialog">
      <h3>Nachricht an Lieferanten</h3>
      <textarea [(ngModel)]="messageText" placeholder="Ihre Nachricht..."></textarea>
      <div class="button-group">
        <button class="fluent-button" (click)="sendMessage()">
          <i class="fa fa-paper-plane"></i> Senden
        </button>
        <button class="fluent-button" (click)="toggleMessageDialog()">
          <i class="fa fa-times"></i> Schließen
        </button>
      </div>
    </div>
  </div>
</div>
